* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 550;
    font-style: normal;
}

input::placeholder{
font-family: "Kelly Slab", sans-serif;
font-weight: 550;
font-style: normal;
}

h2{
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sign-in {
    width: 900px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border: 2px solid #333;
    position: relative;
    border-radius: 20px;
}

.left-side {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right-side {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-link {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 30px;
}

.login-form {
    width: 80%;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login{
    margin-bottom: 10px;
}

.password{
    margin-bottom: 10px;
}

.login-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    gap: 5px;
    white-space: nowrap;
}

.remember-me input[type="checkbox"] {
    transform: translateY(-1px);
}


.remember-forgot label {
    display: flex;
    align-items: center;
}

.forgot-password {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #AED0E4;
    color: #000000;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.sign-btn{
    width: 100%;
    padding: 10px;
    background-color: #AED0E4;
    color: #000000;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.login-btn:hover {
    background-color: #5c7b8d;
}

.create-account {
    margin-top: 20px;
    font-size: 14px;
}

.create-account a {
    text-decoration: none;
    color: #39b0f6;
}

.registration {
    width: 900px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border: 2px solid #333;
    position: relative;
    border-radius: 20px;
    display: none;
}

.email{
    margin-bottom: 10px;
}

.name{
    margin-bottom: 10px;
}

.password-res{
    margin-bottom: 10px;
}

.greeting{
    display: none;
}

.background-header{
    background-color: #6ADD1D;
}
header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo a{
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    max-width: 50px;
}

.icons a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
}